body {
    background-image: url( "images/green_felt.jpg" );
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
    color: white;
}

.board {
    display: flex;
    flex-direction: row;
}

.board-row {
    display: flex;
    flex-direction: column;
}

.card-image-wrapper {
    padding: 0.5rem;
}

.card-image-wrapper img {
    filter: drop-shadow( 5px 5px 0.25rem black );
}

.chosen {
    background-color: rgba( 0, 0, 0, 0.75 );
}

.guess-display {
    width: 10rem;
    height: 10rem;
    resize: none;
}
