body {
    background-image: url( "images/green_felt.jpg" );
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
    color: white;
}

.board {
    display: flex;
    flex-direction: row;
}

.board-row {
    display: flex;
    flex-direction: column;
}

.card-image {
    padding: 0.5rem;
    filter: drop-shadow( 5px 5px 0.25rem black );
}
